
#header
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: 4rem;
}

#header nav.navbar
{
    justify-content: space-between;
    flex-grow: 1;
    padding: 0rem 0rem 0rem 0rem;
}

#header nav.navbar .breadcrumb
{
    flex-grow: 1;
    margin-bottom: 0rem;
    margin-right: 1rem;
    background-color: transparent;
}

#header nav.navbar .input-group
{
    margin-bottom: 0rem !important;
}

#header nav.navbar .navbar-action-list
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

#header nav.navbar .navbar-action-list .navbar-action
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    height: 100%;
}

#header nav.navbar .navbar-action-list .navbar-action .navbar-action-button
{
    width: 100%;
    border-radius: 0rem;
}

#header nav.navbar .navbar-action-list .progress
{
    flex: 10;
    width: 10rem;
    height: 100%;
    border-radius: 0rem;
}

#header nav.navbar .navbar-action-list .navbar-action .navbar-action-label
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
    background-color: var(--grey-light);
    color: var(--grey-darker);
    border: 0.1rem solid var(--grey);
    border-radius:  0rem 0.25rem 0.25rem 0rem;
}